//
//  Config.xcconfig
//  SOPT_Assignment
//
//  Created by 이윤학 on 11/14/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
WEATHER_BASE_URL = https:/$()/api.openweathermap.org/data/2.5
WEATHER_API_KEY = f3e27ba11570f5b499c17b2138cf80d4
